<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
</head>
<body>
    게시판 메인페이지 입니다.
    {{memberId}}
    <table borer = "1">
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>등록시간</td>
            <td>수정시간</td>
        </tr>
    {% for item in boardList %}
    <tr>
        <td>{{item.id}}</td>
        <td><a href="{% url 'detail' boardid=item.id %}">{{item.title}}</a></td>
        <td>{{item.created_date}}</td>
        <td>{{item.modified_date}}</td>
    </tr>
    {% endfor %}
    </table>
    <a href="{% url 'write' %}">글쓰기</a>



</body>
</html>